<% if (success && success.length > 0) { %>
  <div class="flash-message flash-success">
    <%= success %>
  </div>
<% } %>

<% if (error && error.length > 0) { %>
  <div class="flash-message flash-error">
    <%= error %>
  </div>
<% } %>